<div class="container">
    <h2>Historial de Saldo</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Usuario</th>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mov of HISTORIAL_SALDO">
                <td>{{ mov.id }}</td>
                <td>{{ mov.usuario_id }}</td>
                <td>{{ mov.tipo }}</td>
                <td [ngClass]="{'positivo': mov.monto > 0, 'negativo': mov.monto < 0}">
                    {{ mov.monto | currency:'COP' }}
                </td>
                <td>
                    <button (click)="verDetalles(mov)">Ver detalles</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
