@use 'src/styles' as *;


.boleto-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.boleto-form {
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
}

.boleto-table table {
    width: 100%;
    border-collapse: collapse;
}

.boleto-table th,
.boleto-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}
